<IfModule mod_rewrite.c>
    # Force https
    RewriteCond %{REQUEST_SCHEME} =http
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Remove public/
    RewriteCond %{REQUEST_URI} !/public/ [NC]
    RewriteRule ^(.*?)/?$ public/$1 [L]
</IfModule>