.white {
    color: white;
}

ul {
    margin-left: -40px;
}

body {
    background-color: #ededed;
}

header h1 {
    background-color: black;
    margin: 1rem auto;
    padding: 2rem;
    color: white;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: .5rem;
}

nav li {
    list-style-type: none;
    text-align: center;
    padding: .2rem;
}

nav a{
    color: white;
    text-decoration: none;
}

.introduction {
    color: black;
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 85%;
    margin: 2rem auto;
}

.introduction {
    font-size: 1rem;
}

.introduction p {
    font-size: 1rem;
}

.info {
    color: black;
    text-align: center;
}

.premier_billet {
    color: #4c4c4c;
    background: white;
    width: 90%;
    padding: .5rem 0;
    margin: auto;
    border: #4c4c4c solid 2px;
}

.premier_billet h2 {
    text-align: center;
    text-decoration: underline;
}

.premier_billet p {
    text-align: justify;
    margin: 3rem;
}


/* Cache les chapitres que l'on ne veut pas afficher */

.premier_billet h2:nth-child(3),
.premier_billet p:nth-child(4){
    display: none;
}

.more_chapters {
    text-align: center;
}

.tous_billets,
.tous_commentaires {
    text-align: center;
}

.tous_billets .billets {
    color: black;
    background: white;
    width: 90%;
    padding: 1rem 0 3rem 0;
    margin: 2rem auto;
    border: #4c4c4c solid 2px;
}

.tous_commentaires .commentaires {
    color: #222222;
    background: #a7a7a7;
    width: 60%;
    text-align: left;
    padding: 1rem 0 1rem 0;
    margin: 2rem auto;
    border: #4c4c4c solid 2px;
}

.commentaires p {
    margin-left: 2rem;
}

.tous_billets h2 {
    text-align: center;
    text-decoration: underline;
}

.tous_billets p {
    text-align: justify;
    margin: 3rem;
}

/* */

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

form input,
form textarea {
    padding: .8rem;
    font-size: 1rem;
}

.admin {
    color: black;
    text-align: center;
    list-style-type: none;
    font-size: 1.1rem;
    text-decoration: underline white;
}

.admin li,
.more_chapters button {
    margin: 3rem auto;
    padding: 1rem;
    background-color: black;
    color: white;
    width: 40%;
}

.admin i {
    margin-right: 1rem;
    color: white;
}

.admin a {
    text-decoration: none;
}

.connection p,
.subscribe p {
    color: black;
    text-align: center;
    text-decoration: underline;
}

.other{
    margin: auto;
}

.link_comments {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
}

.chp_1 h2,
.chp_2 h2 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
}