/*@-webkit-keyframes color_nav {
    0%   {background-color: rgba(44, 145, 135, 0.8);}
    50%   {background-color: rgba(23, 32, 145, 0.8);}
    100%  {background-color: rgba(44, 145, 135, 0.8);}
}

@keyframes color_nav {
    0%   {background-color: rgba(44, 145, 135, 0.8);}
    50%   {background-color: rgba(23, 32, 145, 0.8);}
    100%  {background-color: rgba(44, 145, 135, 0.8);}
}*/

.white {
    color: white;
}

ul {
    margin-left: -40px;
}

body {
    background-color: #f3f6f9;
}

nav {
    padding: .5rem;
    font-family: 'Amatic SC', cursive, 'sans-serif';
    font-size: 1.2rem;
    letter-spacing: .1rem;
    background: linear-gradient(90deg, black, #3b3b3b) ;
}

nav li {
    list-style-type: none;
    text-align: center;
    padding: .2rem;
}

nav li a:hover {
    color: #2c9187;
    text-decoration: underline;
}

nav a{
    color: white;
    text-decoration: none;
}

header h1 {
    background-color: rgba(44, 145, 135, 0.8);
    margin: 1rem auto;
    padding: 2rem;
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive, 'sans-serif';}

main {
    font-family: 'Neucha', cursive, 'sans-serif';
}

.introduction {
    color: black;
    text-align: center;
    border: 4px solid #2c9187;
    padding: 1rem;
    width: 85%;
    margin: 2rem auto;
    background-color: white;
}

.introduction {
    font-size: 1rem;
}

.introduction h1 {
    color: #91243b;

}

.introduction p {
    font-size: 1rem;
}

.info {
    color: #2c9187;
    text-align: center;
}

.premier_billet {
    color: #4c4c4c;
    background: white;
    width: 90%;
    padding: .5rem 0;
    margin: auto;
    border: #4c4c4c solid 2px;
}

.premier_billet h2 {
    text-align: center;
    text-decoration: underline;
}

.premier_billet p {
    text-align: justify;
    margin: 3rem;
}

.more_chapters {
    text-align: center;
}

.more_chapters a button {
    font-family: 'Neucha', cursive, 'sans-serif';
    font-size: .9rem;
}

.more_chapters a button:hover {
    color: #2c9187;
    cursor: pointer;
}

.tous_billets,
.tous_commentaires {
    text-align: center;
}

.tous_billets .billets {
    color: black;
    background: white;
    width: 90%;
    padding: 1rem 0 3rem 0;
    margin: 2rem auto;
    border: #4c4c4c solid 2px;
}

.tous_commentaires .commentaires {
    color: #222222;
    border: 2px solid #2c9187;
    width: 60%;
    text-align: left;
    padding: 1rem 0 1rem 0;
    margin: 2rem auto;
    background-color: white;
}

.commentaires p {
    margin-left: 2rem;
}

.tous_billets h2 {
    text-align: center;
    text-decoration: underline;
}

.tous_billets p {
    text-align: justify;
    margin: 3rem;
}

/* */

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

form input,
form textarea {
    padding: .8rem;
    font-size: 1rem;
}

.consub {
    color: black;
    text-align: center;
    list-style-type: none;
    font-size: 1.1rem;
}

.consub li,
.more_chapters button {
    margin: 3rem auto;
    padding: 1rem;
    background-color: black;
    color: white;
    width: 40%;
}

.consub li:hover {
    color: #2c9187;
    text-decoration: underline #2c9187;
}

.consub i {
    margin-right: 1rem;
    color: white;
}

.consub a {
    text-decoration: none;
}

.connection p,
.subscribe p {
    color: black;
    text-align: center;
    text-decoration: underline;
}

.link_other {
    margin: auto;
}

.other{
    padding: 1rem;
    font-size: 1rem;
}

.link_comments {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
}

.or {
    color: black;
    text-align: center;
    text-decoration: underline;
}

.link_comments:hover {
    color: #2c9187;
}

.chp_1 h2,
.chp_2 h2 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
}

.administration {
    color: black;
    margin: auto;
    text-align: center;
}