{% extends 'layout/layout.twig' %}

{% block subtitle %}Connecté(e){% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Connecté(e)</h1>
            <p>Bienvenue sur l'espace d'administration {{ pseudo }}.</p>
        </section>

        <section class="administration">
            <p>Vous pouvez dès à présent faire des modifications   {{ billet.titre }}.</p>
            <a class="link_other" href="{{ url('connection!logout') }}"><button class="other" type="button">Se déconnecter</button></a>
        </section>
    </main>
{% endblock %}