{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Connectez-vous ou inscrivez-vous pour accéder à l'espace d'administration.</h1>
        </section>

        <ul class="admin">
            <a href="index.php?action=connection"><li><i class="fas fa-mouse"></i>Connexion</li></a>
            <a href="index.php?action=subscribe"><li><i class="fas fa-mouse"></i>Inscription</li></a>
        </ul>
    </main>
{% endblock %}