{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Billet pour l'Alaska</h1>
            <p>Voici les chapitres du livre.</p>
        </section>

        <section class="premier_billet">
            {% for billet in lastBillet %}
                <h2>
                    {{ billet.titre }}
                </h2>
                <p>
                    {{ billet.contenu }}
                </p>
            {% endfor %}
        </section>
    </main>
{% endblock %}