{% extends 'layout/layout.twig' %}

{% block subtitle %}Chapitres{% endblock %}

{% block description %}Voici les extraits de chaque chapitre du livre : Billet simple pour l'Alaska. Cliquez sur "voir plus" pour accéder au chapitre et voir les commentaires de celui-ci.{% endblock %}


{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Billet pour l'Alaska</h1>
            <p>Voici les chapitres du livre.</p>
        </section>

        <section class="tous_billets">
            {% for billet in lastBillet [start:length] %}
                <section class="billets">
                    <h2>
                        {{ billet.titre }}
                    </h2>
                    <p>
                        {{ billet.contenu[:700] }} ...
                    </p>
                    <a class="link_comments" href="index.php?action=comments">Accéder au chapitre</a>
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}