{% extends 'layout/layout.twig' %}

{% block subtitle %}Chapitres{% endblock %}

{% block description %}Voici les extraits de chaque chapitre du livre : Billet simple pour l'Alaska. Cliquez sur "voir plus" pour accéder au chapitre et voir les commentaires de celui-ci.{% endblock %}


{% block main %}
    <main class="white">
        <section class="introduction bck-white black">
            <h1>Billet pour l'Alaska</h1>
            <p>Voici les chapitres du livre.</p>
        </section>

        {% if session == true %}
        {% if admin == 1 %}
            <a class="white btn-chap" href="{{ url("articles!create") }}">Ajouter un chapitre</a>
        {% endif %}
        {% endif %}

        {% for post in posts [start:length] %}
            <section class="full-billet bck-white black">
                <h2>{{ post.titre }}</h2>
                <p>{{ post.contenu[:700] }} ...</p>
                <a class="acces-chap white bck-black" href="{{ url('articles!read', {'id': post.id}, {'id': commentaire.id_billet})}}">Accéder au chapitre</a>
            </section>
        {% endfor %}
    </main>
{% endblock %}