{% extends 'layout/layout.twig' %}

{% block subtitle %}Connexion{% endblock %}

{% block description %}Connectez-vous pour accéder à l'espace d'administration du blog.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Connexion</h1>
            <p>Connectez-vous pour accéder à l'espace d'administration.</p>
        </section>

        <form class="connection"  method="post" action="{{ url('connection!login') }}">
            <input name="email" class="email" type="email" placeholder="Email" required>
            <input name="password" class="password" type="password" placeholder="Mot de passe" required>
            <a class="link_other" href="{{ url('admin!read') }}"><button class="other" type="submit">Se connecter</button></a>
            <p class="or">ou</p>
            <a class="link_other" href="{{ url('subscribe') }}"><button class="other" type="button">S'inscrire</button></a>
        </form>
    </main>
{% endblock %}