{% extends 'layout/layout.twig' %}

{% block subtitle %}Connexion{% endblock %}

{% block description %}Connectez-vous pour accéder à l'espace d'administration du blog.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Connexion</h1>
            <p>Connectez-vous pour accéder à l'espace d'administration.</p>
        </section>

        <form class="connection"  method="post" action="{{ url('connection!login') }}">
            <input name="email" class="email" type="email" placeholder="Email" required>
            <input name="password" class="password" type="password" placeholder="Mot de passe" required>
            <input type="submit" value="Se connecter" class="submit">
            <p>ou</p>
            <a href="{{ url('subscribe') }}" class="other"><input name="sub" type="button" value="S'inscrire"></a>
        </form>
    </main>
{% endblock %}