{% extends 'layout/layout.twig' %}

{% block subtitle %}Connexion / Inscription{% endblock %}

{% block description %}Connectez-vous ou Inscrivez-vous pour accéder à l'espace d'admninistration.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Connectez-vous ou inscrivez-vous pour accéder à l'espace d'administration.</h1>
        </section>

        <ul class="consub">
            <a href="{{ url('connection!login') }}"><li><i class="fas fa-mouse"></i>Connexion</li></a>
            <a href="{{ url('subscribe') }}"><li><i class="fas fa-mouse"></i>Inscription</li></a>
        </ul>
    </main>
{% endblock %}