{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Contactez moi</h1>
            <p>Vous pouvez me contacter via ce formulaire de contact.</p>
        </section>

        <form  method="" action="">
            <input name="nom" class="nom" type="text" placeholder="Nom">
            <input name="prenom" class="prenom" type="text" placeholder="Prénom">
            <input name="email" class="email" type="email" placeholder="Email">
            <input name="object" class="object" type="text" placeholder="Object">
            <textarea name="message" class="message" cols="18" rows="5" placeholder="Message"></textarea>
            <input name="submit" type="submit" value="Envoyer le message" class="submit">
        </form>
    </main>
{% endblock %}