{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Contactez moi</h1>
            <p>Vous pouvez me contacter via ce formulaire de contact.</p>
        </section>
    </main>
{% endblock %}