{% extends 'layout/layout.twig' %}

{% block subtitle %}Créer un chapitre{% endblock %}

{% block description %}Administration : Création d'un nouvel article.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Créer un nouveau chapitre</h1>
            <p>Vous pouvez ajouter un chapitre ici.</p>
        </section>

        <form  method="post" action="{{ url("articles!create") }}">
            <input name="titre" type="text" placeholder="Titre">
            <textarea name="contenu" rows="5" placeholder="Contenu du chapitre"></textarea>
            <input name="date" type="hidden" value="{{ date()|date('Y-m-d H:i:s') }}">

            <div class="btn-group">
                <a href="{{ url('user!login') }}">Quitter</a>
                <input type="reset" value="Effacer">
                <input type="submit" value="Créer">
            </div>
        </form>


    </main>
{% endblock %}