{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Bienvenue sur mon blog</h1>
            <p>Je publierais chapitre par chapitre mon nouveau roman "Billet pour l'Alaska".</p>
        </section>

        <section class="premier_billet">
            {% for billet in lastBillet %}
                <h2>
                    {{ billet.titre }}
                </h2>
                <p>
                    {{ billet.contenu }}
                </p>
            {% endfor %}
        </section>
    </main>
{% endblock %}