<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Page d'accueil de mon blog{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Blog - Home {% endblock %}</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <header>
        <h1>Mon blog</h1>
    </header>

    <main>
        <p>Bienvenue sur mon blog</p>
        <p>Le blog est en construction ... Patience.</p>
    </main>
</body>
</html>