{% extends 'layout/layout.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block description %}Page d'accueil de mon blog. Bienvenue sur mon blog où vous trouverez mon nouveau livre "Billet simple pour l'Alaska".{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction bck-white black">
            <h1>Bienvenue sur mon blog</h1>
            <p>Je publierais chapitre par chapitre mon nouveau roman "Billet pour l'Alaska".</p>
        </section>

        <p class="info">Voici le premier chapitre, accédez aux prochains chapitres dans le menu "Chapitres" :</p>

        <section class="post bck-white">
            {% for billet in lastBillet [start:length] %}
                {% if billet.id == 1 %}
                    <h2>{{ billet.titre }}</h2>
                    <p>{{ billet.contenu[:780]|raw}} ...</p>
                {% endif %}
            {% endfor %}
        </section>

        <div class="more-chapters">
            <a href="{{ url('articles') }}">
                <button class="white bck-black">Voir plus de chapitres ...</button>
            </a>
        </div>
    </main>
{% endblock %}