{% extends 'layout/layout.twig' %}

{% block subtitle %}Inscription{% endblock %}

{% block description %}Inscrivez-vous pour accéder à l'espace d'administration du blog.{% endblock %}


{% block main %}
    <main class="white">
        <section class="introduction">
            <h1>Inscription</h1>
            <p>Inscrivez-vous pour accéder à l'espace d'administration.</p>
        </section>

        <form id="signup" class="subscribe!create" method="post" action="{{ url('subscribe!create') }}" enctype="multipart/form-data">
            <input name="pseudo" class="pseudo" type="text" placeholder="Pseudo" required>
            <input name="email" class="email" type="email" placeholder="Email" required>
            <input name="password" class="password" type="password" placeholder="Mot de passe" required>
            <button type="submit">S'inscrire</button>
            <p>ou</p>
            <a href="{{ url('connection!login') }}" class="other"><button type="button">Se connecter</button></a>
        </form>
    </main>
{% endblock %}