{% extends 'layout/layout.twig' %}

{% block subtitle %}Inscription{% endblock %}

{% block description %}Inscrivez-vous pour accéder à l'espace d'administration du blog.{% endblock %}


{% block main %}
    <main class="white">
        <section class="introduction bck-white black">
            <h1>Inscription</h1>
            <p>Inscrivez-vous pour accéder à l'espace d'administration.</p>
        </section>

        <form id="signup" method="post" action="{{ url('user!create') }}" enctype="multipart/form-data">
            <input name="pseudo" class="pseudo" type="text" placeholder="Pseudo" required>
            <input name="email" class="email" type="email" placeholder="Email" required>
            <input name="password" class="password" type="password" placeholder="Mot de passe" required>
            <a href="{{ url('user!create') }}">
                <button class="link-connect" type="submit">S'inscrire</button>
            </a>
            <p class="or black">ou</p>
            <a href="{{ url('user!login') }}">
                <button class="link-sub" type="button">Se connecter</button>
            </a>
        </form>
    </main>
{% endblock %}