<nav>
    <ul>
        <li>
            <a class="white" href="{{ url('home') }}">Accueil</a>
        </li>
        <li>
            <a class="white" href="{{ url('articles') }}">Chapitres</a>
        </li>
        <li>
            <a class="white" href="{{ url('contact') }}">Contact</a>
        </li>
        <li>
            <a class="white" href="{{ url('admin') }}">Connexion / Inscription</a>
        </li>
    </ul>
</nav>