<nav>
    <ul>
        <li>
            <a href="index.php?action=home">Accueil</a>
        </li>
        <li>
            <a href="#">Chapitres</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Connexion</a>
        </li>
    </ul>
</nav>